<!-- <h1> Root App HTML Content</h1>
{{title}} -->
<!--parent to child-->
<!--<app-login [varpc]="title"></app-login>-->
<!--child to parent using input-->
<!-- <p>{{varFromChildtoparent}}</p> -->

<!-- Event binding its a custom event binding-->

<!-- <app-login [varpc]="title" (messageEvent)='receiveMessage($event)'></app-login> -->
<!--interpolation print the message from child to parent using event emitter-->
<!-- <p>{{varOfFromchildToParent}}</p> -->
<!-- <app-form></app-form> -->
<!-- <app-reactive-form></app-reactive-form> -->

<!-- <app-home></app-home> -->
<!-- <button [routerLink]="['/post']" >submit</button>  -->
<!-- <a [routerLink]="['/post']" routerLinkActive="router-link-active" >click it</a> -->
 <!-- <br> -->
<!-- <a href="/post">link</a>
<p>this is paragraph</p> -->
<button [routerLink]="['/arr']" routerLinkActive ="active">ArraySubmit</button> 
<app-fournotfour></app-fournotfour>
<app-movie></app-movie>
<router-outlet></router-outlet> 
<app-array-details></app-array-details>
<!-- <app-array></app-array> -->
<!-- <button [routerLink] ="/post"></button> -->
<app-routing></app-routing>
<!-- <app-movie></app-movie> -->
